<div class="sidebar">
    <img src="../images/Necleo logo.png" alt="" class="logo">
    <div class="line"></div>
    <div class="sidebar-option selected">
        <img src="../images/coin stack.svg" alt="">
        <p>My Projects</p>
    </div>
    <div class="sidebar-option">
        <img src="../images/Sample Project icon.svg" alt="">
        <p>Sample Projects</p>
    </div>
    <div class="line"></div>
    <div class="sidebar-option">
        <img src="../images/Apps icon.svg" alt="">
        <p>Apps</p>
    </div>
    <div class="sidebar-option">
        <img src="../images/Play icon.svg" alt="">
        <p>Intro to Nelceo</p>
    </div>
    <div class="sidebar-option-offset">
        <div class="sidebar-option">
            <img src="../images/Question mark icon.svg" alt="">
            <p>Help and Support</p>
        </div>
        <div class="sidebar-option">
            <img src="../images/Feedback icon.svg" alt="">
            <p>Feedback</p>
        </div>
        <div class="sidebar-option">
            <img src="../images/Collapse icon.svg" alt="">
            <p style="color: black;">Collapse</p>
        </div>
    </div>

    <div class="topBar_toggle" onclick="toggleNavbar()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    
</div>