<div class="topbar">
    <div class="topbar-content">
        <div class="topbar-text">
            <div style="flex-direction: column;">
                <h3>Free Trial | <p>2 days left</p></h3>
                <p style="color: #FA782F;">Extend free trial</p>
            </div>
        </div>
        <div>
            <img src="../images/Profile pic.svg" alt="">
            <img src="../images/Arrow down.svg" alt="">
        </div>
    </div>
</div>