<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../sidebar.css">
    <link rel="stylesheet" href="../topbar.css">
    <link rel="stylesheet" href="../interface.css">
    <link rel="stylesheet" href="../hero.css">
</head>
<body>
    <%- include('./partials/topbar')  %>
    <%- include('./partials/sidebar') %>
    <%- include('./partials/hero')  %>
    <%- body %>
</body>
<script>

    function toggleSidebar(){
        const sidebar = document.querySelector('.sidebar');
        const hero = document.querySelector('.hero');
        const layout = document.querySelector('.project-layout');
        sidebar.classList.remove('hide')
        sidebar.classList.toggle('show');
        hero.classList.remove('shift-left');
        hero.classList.toggle('shift-right');
        layout.classList.remove('expand');
    }

    function collapseSidebar(){
        const sidebar = document.querySelector('.sidebar');
        const hero = document.querySelector('.hero');
        const layout = document.querySelector('.project-layout');
        sidebar.classList.remove('show');
        sidebar.classList.toggle('hide');
        hero.classList.remove('shift-right');
        hero.classList.toggle('shift-left');
        layout.classList.toggle('expand');
    }

</script>
</html>