@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.sidebar{
    position: fixed;
    margin: 0vw;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    background-color: white;
    overflow: hidden;
}

.sidebar.show{
    width: fit-content;
}

.sidebar.hide{
    width: 0vw;
}

.logo{
    padding: 1.5vw 6vw 1vw 6vw;
    width: 5vw;
    height: 1.7vw;
}

.line{
    background-color: #C4C4C4;
    height: 0.1vw;
    width: 14vw;
    margin: 1vw auto 1vw auto;
}

.sidebar-option {
    display: flex;
    font-weight: 600;
    font-size: 1.1vw;
    padding: 0vw 3vw 0.5vw 2vw;
    color: #C4C4C4;
    cursor: pointer;
}

.selected{
    color: #FA782F;
}

.sidebar-option-exception{
    color: black;
}

.sidebar-option-offset{
    flex-direction: column;
    margin: auto 0vw 0vw 0vw;
}

.sidebar-option img{
    height: 1.8vw;
    width: 2vw;
    margin-top: 0.8vw;
    margin-right: 0.6vw;
}

@media only screen and (max-width : 768px){

    *{
        -webkit-tap-highlight-color: transparent;
    }

    .sidebar{
        width: 0vw;
    }

    .logo{
        width: 25vw;
        height: 8vw;
        padding: 10vw;
    }

    .line{
        width: 40vw;
    }

    .sidebar-option{
        font-size: 4vw;
    }

    .sidebar-option img{
        height: 6vw;
        width: 6vw;
        margin: 3vw 3vw 0vw 5vw;
    }
}